.alimenta_logo_red-large {
  width: 580px;
  height: 170px;
  background-position: -0px 0;
}

.alimenta_logo_red_02-large {
  width: 640px;
  height: 170px;
  background-position: -590px 0;
}

.alimenta_logo_white-large {
  width: 580px;
  height: 170px;
  background-position: -1240px 0;
}

.alimenta_logo_white_02-large {
  width: 640px;
  height: 170px;
  background-position: -1830px 0;
}

.facebook_icon-large {
  width: 36px;
  height: 36px;
  background-position: -2480px 0;
}

.print_icon-large {
  width: 20px;
  height: 20px;
  background-position: -2530px 0;
}

.alimenta_logo_red-large,
.alimenta_logo_red_02-large,
.alimenta_logo_white-large,
.alimenta_logo_white_02-large,
.facebook_icon-large,
.print_icon-large {
  background-image: url(assets/img/sprites/general-large-sprite.png);
  background-size: 2560px 170px;
}

.alimenta_logo_red-medium {
  width: 290px;
  height: 85px;
  background-position: -0px 0;
}

.alimenta_logo_red_02-medium {
  width: 320px;
  height: 85px;
  background-position: -295px 0;
}

.alimenta_logo_white-medium {
  width: 290px;
  height: 85px;
  background-position: -620px 0;
}

.alimenta_logo_white_02-medium {
  width: 320px;
  height: 85px;
  background-position: -915px 0;
}

.facebook_icon-medium {
  width: 18px;
  height: 18px;
  background-position: -1240px 0;
}

.print_icon-medium {
  width: 10px;
  height: 10px;
  background-position: -1265px 0;
}

.alimenta_logo_red-medium,
.alimenta_logo_red_02-medium,
.alimenta_logo_white-medium,
.alimenta_logo_white_02-medium,
.facebook_icon-medium,
.print_icon-medium {
  background-image: url(assets/img/sprites/general-medium-sprite.png);
  background-size: 1280px 85px;
}

.alimenta_logo_red-small {
  width: 252px;
  height: 74px;
  background-position: -0px 0;
}

.alimenta_logo_red_02-small {
  width: 278px;
  height: 74px;
  background-position: -256px 0;
}

.alimenta_logo_white-small {
  width: 252px;
  height: 74px;
  background-position: -538px 0;
}

.alimenta_logo_white_02-small {
  width: 278px;
  height: 74px;
  background-position: -793px 0;
}

.facebook_icon-small {
  width: 16px;
  height: 16px;
  background-position: -1075px 0;
}

.print_icon-small {
  width: 9px;
  height: 9px;
  background-position: -1097px 0;
}

.alimenta_logo_red-small,
.alimenta_logo_red_02-small,
.alimenta_logo_white-small,
.alimenta_logo_white_02-small,
.facebook_icon-small,
.print_icon-small {
  background-image: url(assets/img/sprites/general-small-sprite.png);
  background-size: 1110px 74px;
}

.svg .alimenta_logo_red-large,
.svg .alimenta_logo_red-medium,
.svg .alimenta_logo_red-small,
.svg .alimenta_logo_red_02-large,
.svg .alimenta_logo_red_02-medium,
.svg .alimenta_logo_red_02-small,
.svg .alimenta_logo_white-large,
.svg .alimenta_logo_white-medium,
.svg .alimenta_logo_white-small,
.svg .alimenta_logo_white_02-large,
.svg .alimenta_logo_white_02-medium,
.svg .alimenta_logo_white_02-small,
.svg .facebook_icon-large,
.svg .facebook_icon-medium,
.svg .facebook_icon-small,
.svg .print_icon-large,
.svg .print_icon-medium,
.svg .print_icon-small {
  background-image: url(assets/img/sprites/general-sprite.svg);
}

#slider-nav {
  margin-left: 60px;
}

.select {
  padding-top: 5px;
  padding-bottom: 5px;
}

.select-large {
  padding-top: 10px;
  padding-bottom: 10px;
}

.input-text {
  padding-top: 11px;
  padding-bottom: 10px;
}

.order-form-search .input-text-large {
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-search-result-grid {
  width: 24%;
}

.visible-in-ie,
label.is-visible-in-ie {
  display: block;
}

.ie-inline-block {
  display: inline-block;
}

#footer {
  margin-top: 60px;
}

.login h1 a {
  background-image: url(../img/alimenta_logo_red_02.png);
  background-size: 100%;
  width: 275px;
  height: 70px;
}

.login .message {
  background-color: #a99862;
  color: #FFF;
  border-left: 0;
  box-shadow: none;
}

.login #login_error {
  background: #da1415;
  color: #FFF;
  border-left: 0;
  box-shadow: none;
}

.login #login_error a {
  color: #FFF;
}

input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=url]:focus,
select:focus,
textarea:focus {
  border-color: #da1415;
  box-shadow: 0 0 2px rgba(218,20,21,.8);
}

.login .button-primary {
  background-color: #da1415;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  min-width: 100px;
}

.login .button-primary:hover {
  background-color: #da1415;
  color: #ff6a7b;
}

.login #backtoblog a,
.login #nav a {
  color: #da1415;
}

.login #backtoblog a:hover,
.login #nav a:hover {
  color: #ff6a7b;
}

@import url(http://fonts.googleapis.com/css?family=Oswald|Open+Sans:300italic,400italic,700italic,300,400,700);

body {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Open Sans',Helvetica,sans-serif;
  font-weight: 300;
  color: #4a4a4a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Oswald,'Open Sans',Helvetica,sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  color: #242424;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2em;
  margin: 1.2em 0 0;
}

h2 {
  font-size: 1.7em;
  line-height: 1.7647058823529411em;
  margin: 1.7647058823529411em 0 0;
}

h3 {
  line-height: 1.25em;
  margin: 1.25em 0 0;
}

h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 1.5em 0 0;
}

h5 {
  font-size: .9em;
  line-height: 1.6666666666666665em;
  margin: 1.6666666666666665em 0 0;
}

h6 {
  font-size: .8em;
  line-height: 1.875em;
  margin: 1.875em 0 0;
}

ol,
p,
ul {
  font-size: 1em;
  line-height: 1.5em;
  margin: 1.5em 0 0;
}

small {
  font-size: .75em;
  line-height: 2em;
  margin: 2em 0 0;
}

strong {
  font-weight: 700;
}

body {
  font-size: 15px;
  line-height: 22px;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1733333333333333em;
  margin: 1.1733333333333333em 0 0;
}

h2 {
  font-size: 1.7em;
  line-height: 1.7254901960784315em;
  margin: 1.7254901960784315em 0 0;
}

h3 {
  font-size: 1.2em;
  line-height: 1.2222222222222223em;
  margin: 1.2222222222222223em 0 0;
}

h4 {
  font-size: 1em;
  line-height: 1.4666666666666666em;
  margin: 1.4666666666666666em 0 0;
}

h5 {
  font-size: .9em;
  line-height: 1.6296296296296295em;
  margin: 1.6296296296296295em 0 0;
}

h6 {
  font-size: .8em;
  line-height: 1.8333333333333333em;
  margin: 1.8333333333333333em 0 0;
}

ol,
p,
ul {
  font-size: 1em;
  line-height: 1.4666666666666666em;
  margin: 1.4666666666666666em 0 0;
}

.container {
  position: relative;
  margin: 0 auto;
  padding-left: 60px;
  max-width: 960px;
  min-width: 260px;
}

.container {
  padding-left: 30px;
}

.container:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.col-4-5 {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 60px;
  width: 80%;
}

.col-4-5 {
  padding-right: 30px;
}

.col-3-4 {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 60px;
  width: 75%;
}

.col-3-4 {
  padding-right: 30px;
}

.col-2-3 {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 60px;
  width: 66.66%;
}

.col-2-3 {
  padding-right: 30px;
}

.col-1-2 {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 60px;
  width: 50%;
}

.col-1-2 {
  padding-right: 30px;
}

.col-1-3 {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 60px;
  width: 33.33%;
}

.col-1-3 {
  padding-right: 30px;
}

.col-1-4 {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 60px;
  width: 25%;
}

.col-1-4 {
  padding-right: 30px;
}

.col-1-5 {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 60px;
  width: 20%;
}

.col-1-5 {
  padding-right: 30px;
}

.col-1-8 {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 60px;
  width: 12.5%;
}

.col-1-8 {
  padding-right: 30px;
}

body,
html {
  height: 100%;
}

body {
  background-color: #FFF;
  margin: 0;
}

p {
  margin: 0 0 1em;
}

a {
  color: #00b5cc;
  text-decoration: none;
}

a:hover {
  color: #33e8ff;
}

h1 {
  margin-top: 30px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 15px;
}

h3 {
  margin-bottom: .4em;
  margin-top: 0;
  padding-top: .75em;
  font-size: 20px;
  color: #242424;
  text-transform: uppercase;
}

fieldset {
  padding: 10px 0;
  margin: 0;
  border: 0;
}

label {
  display: block;
}

input.checkbox {
  width: 15px;
  height: 15px;
  margin-right: 2px;
  background-color: #FFF;
  border: 1px solid #ccc;
}

label.checkbox-label {
  display: inline-block;
}

a img {
  border: 0;
}

.aligncenter {
  display: block;
  margin: 0 auto;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.icon-arrow {
  position: fixed;
  z-index: 100;
  bottom: 1%;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 32px;
  background: url(../img/icon_arrow_down.svg) no-repeat center center;
}

.container-narrow {
  position: relative;
  margin: 0 auto;
  padding-left: 60px;
  max-width: 680px;
  min-width: 260px;
}

.container-narrow {
  padding-left: 30px;
}

.container-narrow:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.container-wide {
  position: relative;
  margin: 0 auto;
  max-width: 1240px;
  min-width: 260px;
  padding-left: 10px;
}

.container-wide {
  padding-left: 30px;
}

.container-wide:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.page-title h1:after,
.section-instagram-page-title h1:after,
.section-title h2:after,
.section-title h3:after {
  display: block;
  content: '';
  position: relative;
  left: 50%;
  height: 2px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.page-title h1:after,
.section-instagram-page-title h1:after,
.section-title h2:after {
  margin-left: -40px;
  width: 80px;
}

.section-title h3:after {
  margin-left: -30px;
  width: 60px;
}

@-moz-document url-prefix()  {
  .select {
    -moz-box-sizing: border-box;
    height: 33px;
    padding-top: 4px;
  }

  .select-large {
    -moz-box-sizing: border-box;
    height: 42px;
    padding-top: 9px;
  }

  .input-text {
    -moz-box-sizing: border-box;
    height: 42px;
  }
}

.is-hidden {
  display: none;
}

.flash {
  padding: 30px;
  background-color: #242424;
  color: #FFF;
}

.flash.success {
  background-color: #a99862;
}

.flash.error {
  background-color: #00b5cc;
}

.flash.error a {
  color: #fff;
}

#header {
  position: relative;
  background-color: #FFF;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

#header:after {
  display: block;
  content: '';
  clear: both;
}

.header-logo {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 60px;
  width: 100%;
  padding-top: 10px;
  text-align: center;
}

.header-logo {
  padding-right: 30px;
}

.header-logo img {
  max-width: 100%;
  height: auto;
}

.header-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 60px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #FFF;
  border-bottom: 4px double #ccc;
  text-align: center;
  font-family: Oswald,'Open Sans',Helvetica,sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}

.header-menu li {
  display: inline;
}

.header-menu {
  padding-right: 30px;
}

.header-menu a {
  color: #4a4a4a;
  padding: 5px 20px;
}

.current-menu-item a,
.header-menu a:hover {
  color: #00b5cc;
}

.btn {
  font-family: Oswald,'Open Sans',Helvetica,sans-serif;
  cursor: pointer;
}

.btn-menu {
  position: absolute;
  z-index: 10;
  left: 15px;
  top: 26px;
  height: 20px;
  padding-left: 20px;
}

.btn-menu:before {
  position: absolute;
  left: 0;
  top: 7px;
  display: block;
  content: '';
  height: 2px;
  width: 16px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.btn-menu:after {
  position: absolute;
  left: 0;
  top: 13px;
  display: block;
  content: '';
  height: 2px;
  width: 16px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.btn-menu.active:before {
  top: 10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.btn-menu.active:after {
  top: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.homepage-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.homepage-section:nth-child(2n+2) {
  background-color: #f8f8f8;
}

.homepage-section-cover {
  position: relative;
  display: table;
  width: 100%;
  height: 79%;
  min-height: 79%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section-cover-content {
  display: table-cell;
  vertical-align: middle;
}

.section-cover-content .section-text-content {
  color: #FFF;
}

.section-text-content-full {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 60px;
  width: 100%;
  padding-bottom: 30px;
}

.section-text-content-full {
  padding-right: 30px;
}

.homepage-section .section-title {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 60px;
  width: 100%;
}

.homepage-section .section-title {
  padding-right: 30px;
}

.homepage-section .section-title h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5em;
  line-height: 1.5em;
  margin-bottom: 30px;
}

.homepage-section .section-title h2:after {
  display: block;
  content: '';
  position: relative;
  left: 50%;
  margin-left: -40px;
  width: 80px;
  height: 2px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.page-section {
  padding-bottom: 60px;
}

.page-title {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 60px;
  width: 100%;
  padding-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.page-title {
  padding-right: 30px;
}

.page-title:after {
  display: block;
  content: '';
  clear: both;
}

.container-wide .page-title {
  padding-right: 10px;
}

.page-title h1 {
  line-height: 1.5em;
}

.page-content {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 60px;
  width: 50%;
}

.page-content {
  padding-right: 30px;
}

.section-text-content h2 {
  line-height: 1.4em;
}

.section-text-content img {
  max-width: 100%;
  height: auto;
}

.coworkers {
  text-align: center;
  padding-bottom: 60px;
}

.coworker {
  display: inline-block;
  line-height: 0;
  position: relative;
  margin-right: 6px;
  margin-bottom: 10px;
  vertical-align: top;
}

.coworker img {
  max-width: 100%;
  height: auto;
}

.coworker-header {
  position: absolute;
  top: 0;
  width: 100%;
}

.coworker-header h2 {
  margin-top: 22.5px;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1em;
}

.coworker-footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 22.5px;
  padding-right: 0;
  background: url(../img/bg_white_transparent70.png);
  font-family: Oswald,'Open Sans',Helvetica,sans-serif;
  text-align: left;
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 400;
  color: #000;
}

.coworker-footer p {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  padding-right: 22.5px;
  margin: 0;
}

.coworker-footer p {
  padding-right: 30px;
}

.coworker-phone {
  text-align: right;
}

.single-coworker {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}

.single-coworker:after {
  display: block;
  content: '';
  clear: both;
}

.single-coworker-photo {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 60px;
  width: 50%;
  float: none;
  display: inline-block;
  margin-left: -4px;
  vertical-align: middle;
}

.single-coworker-photo {
  padding-right: 30px;
}

.single-coworker-photo img {
  max-width: 100%;
  height: auto;
}

.single-coworker-info {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 60px;
  width: 50%;
  float: none;
  display: inline-block;
  margin-left: -4px;
  vertical-align: middle;
}

.single-coworker-info {
  padding-right: 30px;
}

.single-coworker-title {
  font-family: Oswald,'Open Sans',Helvetica,sans-serif;
  text-transform: uppercase;
  color: #999;
  font-size: 1.25em;
  line-height: 1.5em;
}

h1.single-coworker-name {
  margin-top: 0;
  text-transform: uppercase;
  line-height: 1em;
  margin-bottom: 22.5px;
}

.single-coworker-phone {
  padding-left: 30px;
  margin-bottom: 45px;
  font-family: Oswald,'Open Sans',Helvetica,sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  line-height: 36px;
  color: #000;
}

.single-coworker-phone:before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  width: 30px;
  height: 36px;
  background: url(../img/icon_phone.svg) no-repeat left center;
}

.no-svg .single-coworker-phone:before {
  background: url(../img/icon_phone.png) no-repeat left center;
}

.single-coworker-content {
  font-size: 1.25em;
  line-height: 1.5em;
}

.section-other-coworkers {
  padding-top: 30px;
  padding-bottom: 60px;
  text-align: center;
  background-color: #f8f8f8;
}

.section-other-coworkers .section-title h2 {
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #999;
  font-size: 1.5em;
}

.section-other-coworkers .coworker-footer {
  font-size: 14px;
  line-height: 1em;
}

.homepage-section-instagram {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

.section-instagram {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  background-color: #000;
}

.section-instagram-page {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

.section-instagram-images {
  position: relative;
  width: 2400px;
  left: 50%;
  margin-left: -1200px;
  text-align: center;
}

.section-instagram-page .section-instagram-images {
  width: 3200px;
  margin-left: -1600px;
}

.instagram-image,
.section-instagram img,
.section-instagram-page img {
  display: inline-block;
  margin-left: -4px;
  line-height: 0;
  vertical-align: top;
}

.instagram-image img {
  max-width: 100%;
  height: auto;
}

.section-instagram-text {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -25px;
}

.instagram-title {
  margin-top: 0;
  font-size: 3.5em;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
  text-shadow: 0 2px 8px rgba(0,0,0,.3);
}

.section-instagram-page-title {
  margin-top: -50px;
}

.section-instagram-page-title h1 {
  line-height: 1.5em;
}

.section-instagram-page-title h1:after {
  border-color: #FFF;
}

.section-prices {
  padding-bottom: 60px;
}

.pricelist {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 60px;
  width: 50%;
}

.pricelist {
  padding-right: 30px;
}

.pricelist:after {
  display: block;
  content: '';
  clear: both;
}

.pricelist-inner {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
  background-color: #000;
}

.pricelist-inner:after {
  display: block;
  content: '';
  clear: both;
}

.pricelist-header {
  text-align: center;
}

.pricelist-title {
  display: inline-block;
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 0 10px;
  line-height: 1em;
  color: #FFF;
  text-transform: uppercase;
  background-color: #000;
}

.pricelist-title-decoration {
  position: relative;
  top: 1em;
  left: 0;
  width: 100%;
  height: 2px;
  border-top: 1px solid #4a4a4a;
  border-bottom: 1px solid #4a4a4a;
}

.pricelist-items {
  list-style: none;
  padding-left: 0;
  color: #FFF;
  font-family: Oswald,'Open Sans',Helvetica,sans-serif;
  font-size: 1.125em;
  line-height: 1.125em;
}

.pricelist-item {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #4a4a4a;
}

.pricelist-item {
  padding-right: 30px;
}

.pricelist-item {
  padding-right: 30px;
}

.pricelist-item-service {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 66%;
  padding-right: 10px;
}

.pricelist-item-service {
  padding-right: 30px;
}

.pricelist-item-price {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33%;
  padding-right: 0;
  text-align: right;
}

.pricelist-item-price {
  padding-right: 30px;
}

.section-products {
  background-color: #000;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.section-products .section-title h3 {
  text-transform: uppercase;
  color: #4a4a4a;
  font-size: 1.5em;
  line-height: 1.6em;
  text-align: center;
}

.section-products .section-title h3:after {
  border-color: #4a4a4a;
}

.section-products img {
  vertical-align: middle;
  margin: 25px 50px;
}

#footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-logo {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 60px;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.footer-logo {
  padding-right: 30px;
}

.footer-contact {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 60px;
  width: 100%;
  color: #FFF;
  font-size: .75em;
  line-height: 1.5em;
}

.footer-contact {
  padding-right: 30px;
}

.footer-contact a {
  color: #FFF;
}

.footer-contact a:hover {
  color: #ccc;
}

.visible-in-ie,
.visible-in-mobile-landscape {
  display: none;
}

.is-sticky {
  position: fixed;
  z-index: 1000;
}